<!-- Operator Binary Downloads -->
<div class="operator-binary-downloads" id="operator-binary-downloads">
    <div class="operator-download-links-row">
        <a class="operator-download-link" data-os="linux" data-arch="amd64" href="#">Linux x64</a>
        <a class="operator-download-link" data-os="linux" data-arch="arm64" href="#">Linux ARM64</a>
        <a class="operator-download-link" data-os="linux" data-arch="386" href="#">Linux x86</a>
    </div>
    <div class="operator-deploy-section">
        <div class="operator-deploy-row">
            <span class="operator-deploy-label">Drop Key</span>
            <div class="operator-deploy-api-key-row">
                <div class="operator-deploy-api-key-value obfuscated" id="deploy-api-key-value"></div>
                <button class="operator-deploy-icon-btn" id="deploy-api-key-toggle" type="button" title="Show/Hide">
                    <span class="material-symbols-outlined">visibility</span>
                </button>
                <button class="operator-deploy-icon-btn" id="deploy-api-key-copy" type="button" title="Copy">
                    <span class="material-symbols-outlined">content_copy</span>
                </button>
                <button class="operator-deploy-icon-btn" id="deploy-api-key-refresh" type="button" title="Refresh Drop Key">
                    <span class="material-symbols-outlined">refresh</span>
                </button>
            </div>
        </div>
    </div>
</div>
