<div class="approval-compact approval-compact--restored">
    <div class="approval-compact__header">
        <span class="material-symbols-outlined approval-compact__icon">{{{icon}}}</span>
        <span class="approval-compact__title">{{headerText}}</span>
        {{{timeHtml}}}
    </div>
    <div class="approval-compact__command">{{{promptHtml}}}{{commandDisplay}}</div>
    <div class="approval-compact__reason">{{justification}}</div>
    <div class="approval-compact__actions">
        <div class="approval-compact__status approval-compact__status--{{!statusClass}}">
            <span class="material-symbols-outlined">{{{statusIcon}}}</span>
            {{statusText}}
        </div>
    </div>
</div>
